@model IEnumerable<HomeServices.Models.FileModel>

@{
    ViewData["Title"] = "FilesInDirectory";
}
<br />
<h2>Files in directory</h2>
<hr />
<h3>@ViewBag.directoryName</h3>
<a asp-controller="music" asp-action="GetDirectoryZip" asp-route-id="@ViewBag.directoryId">Download directory</a>
<br />
<div>
    <table class="table table-hover" id="filesTable">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size) Mb
                    </td>
                    <td>
                        <a asp-controller="music" asp-action="GetFile" asp-route-id="@item.Id">Download</a> |
                        <a href="#" onclick="deleteItem(@item.Id)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">

    function deleteItem(id) {
        $.ajax({
            url: '/api/music/' + id,
            type: 'DELETE',
            success: function () {
                document.getElementById(id).remove();
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

</script>
