@model IEnumerable<DirectoryModel>

@{
    ViewData["Title"] = "MusicList";
}
<br />
<h1>MusicList</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="home" asp-action="FilesInDirectory" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    <a asp-controller="music" asp-action="GetDirectoryZip" asp-route-id="@item.Id">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>
